:root
{
    /* https://developer.apple.com/fonts/ */
    --ui-font-family: 'SF Mono';
    --ui-font-size: 12px;

    /* https://www.paratype.com/fonts/pt/pt-mono */
    --code-font-family: 'PT Mono';
    --code-font-size: 16px;
}


/* -------------------------------------------------------------------------- */

.mac,
a:not(.codicon),
.input,
h3.title,
.monaco-count-badge
{
    font-family: var(--ui-font-family) !important;
    font-size: var(--ui-font-size) !important;
}

.untitled-hint a
{
    font-size: var(--code-font-family) !important;
}


/* -------------------------------------------------------------------------- */
/* Suggestion list */

.mac .tree .label-name
{
    font-family: var(--code-font-family) !important;
    font-size: var(--code-font-size) !important;
}


/* -------------------------------------------------------------------------- */
/* Suggest window */

.monaco-editor .suggest-details *
{
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
}

.monaco-hover .rendered-markdown,
.monaco-hover .rendered-markdown a
{
    font-family: var(--code-font-family);
    font-size: var(--code-font-size) !important;
}


/* -------------------------------------------------------------------------- */
/* Settings page headers */

.settings-editor > .settings-body .settings-tree-container .settings-group-title-label.settings-group-level-1,
.settings-editor > .settings-body .settings-tree-container .settings-group-title-label.settings-group-level-2
{
    font-size: var(--ui-font-size);

    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.settings-editor > .settings-body .settings-tree-container .setting-item-contents .setting-item-description
{
    margin-top: 1px;
}


/* -------------------------------------------------------------------------- */
/* Search field on Settings page */

.suggest-input-container .suggest-input-placeholder
{
    /* Magic values for ad-hoc tweaking */
    margin-top: auto;
    line-height: 22px;
}

.settings-editor > .settings-header > .search-container span
{
    font-family: var(--ui-font-family);
    font-size: var(--ui-font-size);
}


/* -------------------------------------------------------------------------- */
/* Side Bar name */

.monaco-workbench .part > .title > .title-label h2
{
    font-size: var(--ui-font-size);
    font-weight: bold;
}


/* -------------------------------------------------------------------------- */
/* Dialog header */

.monaco-dialog-box .dialog-message-row .dialog-message-container .dialog-message
{
    font-size: var(--ui-font-size);
    font-weight: bold;
}


/* -------------------------------------------------------------------------- */
/* Subtle filepath */

.monaco-editor .peekview-widget .head .peekview-title .dirname:not(:empty),
.monaco-icon-label > .monaco-icon-label-container > .monaco-icon-description-container > .label-description
{
    font-size: 1em;
}


/* -------------------------------------------------------------------------- */
/* Pane headers */

.monaco-pane-view .pane > .pane-header > .title
{
    text-transform: none;
    font-weight: normal;
}


/* -------------------------------------------------------------------------- */
/* Buttons */

.monaco-text-button
{
    line-height: 2.5em;
}


/* -------------------------------------------------------------------------- */
/* Tab close buttons */

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab > .tab-actions .action-label
{
    opacity: 1;
}
